<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Hooksync</title>
    <style type="text/css" media="screen">
      body {
        font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
      }
      table { border-collapse: collapse }
      table, tr, td {
        border: 1px solid #999;
      }
    </style>
  </head>
  <body id="index">
    <h1>Hooksync</h1>
    <p>is up and running.</p>
    <% if @revisions.length > 0 %>
    <h2>Recent revisions</h2>
    <table summary="Recent revisions" cellspacing="5" cellpadding="5">
      <thead>
        <th>Project</th>
        <th>Author</th>
        <th>Revision</th>
        <th>Time</th>
        <th>Message</th>
      </thead>
      <tbody>
      <% @revisions.reverse.each do |rev| %>
        <tr>
          <td><%= h rev.project %></td>
          <td><%= h rev.author %></td>
          <td><%= rev.revision_url %></td>
          <td><%= rev.time_ago_in_words %>
          <td><%= h rev.message %></td>
        </tr>
        <% if rev.result %>
        <tr>
          <td colspan="5"><pre><%= h rev.result %></pre></td>
        </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <% end %>
  </body>
</html>